# ===============================
# Backend gitignore
# ===============================

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Logs
*.log

# Ignore ONLY emotion model folder
context_engine/emotion_model/

# Manim temporary files
temp_manim/
media/

main/__pycache__/
modules/__pycache__/
modules/services/__pycache__/
visualization/__pycache__/
context_engine/__pycache__/
core/__pycache__/

